
.azeret-mono-normaal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

.web-container{
  width:80%;
  margin: 50px auto;
  background-color: #f4f2f4;
  padding: 20px;
  border: 1px solid #00aaff;
}
.web-container .web{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 48px;
}
/*shared style*/
.web-container .section .card{
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 48px;
}
.heading{
  margin: 16px 0;
  padding: 0;
  width: 390px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.card .btn{
  width: 150px;
  height: 48px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin: 32px 0px;
  padding: 0px;
}
.card .para{
  width: 468px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.section .img{
  align-items: start;
  padding: 30px;
}
/*section2*/
